<!doctype html>
<html lang="en">
<head>
  <script defer src="<%= assetsUrl %>/js/main<%= fileVersion %>.js" charset="utf-8" fetchpriority="high"></script>
  <link rel="preload" href="<%= assetsUrl %>/js/chunks/deferred<%= fileVersion %>.js" as="script" fetchpriority="low">

  <style>html{background-color:#fafafa}#react{visibility:hidden}</style>
  <link rel="stylesheet" href="<%= assetsUrl %>/css/main<%= fileVersion %>.css" media="none" fetchpriority="high" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="<%= assetsUrl %>/css/chunks/deferred<%= fileVersion %>.css" media="none" onload="if(media!='all')media='all'">

  <script>screen.orientation?.lock('portrait').catch(() => {});</script>

  <link rel="preload" href="https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2" as="font" type="font/woff2" crossorigin fetchpriority="low">
  <link rel="preload" href="https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2" as="font" type="font/woff2" crossorigin fetchpriority="low">
  <link rel="preconnect" href="<%= spacesHost %>">

<%- include('partials/metaTags') %>
</head>
<body>
  <div id="react"></div>
</body>
</html>
