<!doctype html>
<html lang="en">
<head>
<%- include('partials/assets') %>
<% if (production) { %>
<script>
const fileName = localStorage.getItem('authToken') ? 'HomeAuthRoute' : 'HomeUnauthRoute';

const jsLink = document.createElement('link');
jsLink.rel = 'preload';
jsLink.href = `<%= assetsUrl %>/js/chunks/${fileName}<%= fileVersion %>.js`;
jsLink.as = 'script';
jsLink.fetchPriority = 'low';
document.head.appendChild(jsLink);

const cssLink = document.createElement('link');
cssLink.rel = 'stylesheet';
cssLink.href = `<%= assetsUrl %>/css/chunks/${fileName}<%= fileVersion %>.css`;
cssLink.media = 'none';
cssLink.onload = () => {
  if (cssLink.media !== 'all') {
    cssLink.media = 'all';
  }
};
document.head.appendChild(cssLink);
</script>

<link rel="preload" href="<%= assetsUrl %>/js/chunks/deferred<%= fileVersion %>.js" as="script" fetchpriority="low">
<link rel="stylesheet" href="<%= assetsUrl %>/css/chunks/deferred<%= fileVersion %>.css" media="none" onload="if(media!='all')media='all'">
<% } %>

<%- include('partials/metaTags') %>
<%- include('partials/scripts') %>
</head>
<body>
  <div id="react"></div>
</body>
</html>
